<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/rabbit
http://www.springframework.org/schema/rabbit/spring-rabbit.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd">
    <context:component-scan base-package="com.qingcheng"/>
    <!--连接工厂-->
    <rabbit:connection-factory id="connectionFactory" host="127.0.0.1"
                               port="5672" username="guest" password="guest"/>
    <rabbit:template id="rabbitTemplate" connection-factory="connectionFactory"/>
    <rabbit:queue name="queue.sms"/>
    <bean id="messageConsumer" class="com.qingcheng.SmsMessageConsumer"/>
    <rabbit:listener-container connection-factory="connectionFactory" acknowledge="auto">
        <rabbit:listener ref="messageConsumer" queue-names="queue.sms"/>
    </rabbit:listener-container>
</beans>